h1 {
  font-weight: 100;
  font-size: 55px;
  display: block;
}

h2 {
  font-weight: 100;
  font-size: 32px;
  display: block;
}

.main-div {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.6s ease-in-out; /** Firefox **/
  -o-transition: all 0.6s ease-in-out; /** Opera **/
}

.main-div-searched {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.6s ease-in-out; /** Firefox **/
  -o-transition: all 0.6s ease-in-out; /** Opera **/
}

.search-bar {
  display: block;
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5rem;
  background-color: #eeeeee;
  height: 64px;
  width: 480px;
  font-size: 30px;
  padding: 4px 24px;
}

.submit-btn {
  width: 0;
  height: 0;
  padding: 0;
}

.search-bar-searched {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  display: block;
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5rem;
  background-color: #eeeeee;
  height: 46px;
  width: 340px;
  font-size: 16px;
  padding: 4px 24px;
}

.weather-icon {
  height: 105px;
}

.parent-main-div-searched {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 40px;
}

.image-gallery {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.image-gallery img {
  height: 500px;
  margin: 8px;
  flex: 1;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  font-weight: bold;
}
